<h1>List Of Articles</h1>
<%= flash[:notice] %>
<table>
  <tr>
    <td>Title</td>
    <td>Content</td>
    <td>Option</td>
  </tr>
  <% @article.each do |article|%>
  <tr>
  <td><%= article.title %></td>
  <td><%= article.body %></td>
  <td><%= link_to 'Edit', edit_article_path(article.id) %> | <%= link_to 'Delete', article_path(article.id), :confirm => 'Are you sure want to delete?', :method => :delete %>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add new Article", new_article_path%></p>



