<h1>New Article</h1>
<%= flash[:notice] %>
<table>
<%= form_for @article do |article| %>
  <tr>
    <td><%= article.label :title %></td>
    <td><%= article.text_field :title %></td>
  </tr>
  <tr>
    <td><%= article.label :body %></td>
    <td><%= article.text_area :body %></td>
  </tr>
  <tr>
    <td><%= article.submit %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back to Articles', articles_path %>

