<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @Articles.id %>
</p>
 
<p>
  <b>Title:</b>
  <%= @Articles.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @Articles.body %>
</p>
 
 
<%= link_to 'Edit', edit_Articles_path(@Articles) %> |
<%= link_to 'Back', Articles_path %>
