<!DOCTYPE html>
<html>
<head>
  <title>test1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h1>Hello World</h1>

<h2><%= @hello %></h2>

</body>
</html>
