<!DOCTYPE html>
<html>
<head>
  <title>Hello, Rails!</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Hello from Rails!</h1>
</body>
</html>

